################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/PersonalFinanceApiNetCore/obj
/PersonalFinanceApiNetCore/bin/Debug/net8.0
/PersonalFinanceApiNetCore/bin/Release/net8.0
/PersonalFinanceApiNetCoreBL/bin/Debug/net8.0
/PersonalFinanceApiNetCoreBL/obj
/PersonalFinanceApiNetCoreDataMapper/bin/Debug/net8.0
/PersonalFinanceApiNetCoreDataMapper/obj
/PersonalFinanceApiNetCoreModel/bin
/PersonalFinanceApiNetCoreModel/obj
